node_modules/
dist/
build/
tools/

.env
.env.local

backend/prisma/dev.db
backend/prisma/dev.db-journal

blockchain/artifacts/
blockchain/cache/
blockchain/typechain-types/

shared/contracts/localhost.json
shared/contracts/SaveTokenABI.json
shared/contracts/SavingsVaultABI.json

.DS_Store
.vscode/
.idea/