PORT=4000
NODE_ENV=development

DATABASE_URL="file:./dev.db"

JWT_SECRET=savewise_super_secret_change_me
JWT_EXPIRES_IN=7d

RPC_URL=http://127.0.0.1:8545
CONTRACTS_DIR=../shared/contracts

BACKEND_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff806

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
